In [608]:
import pandas as pd

import numpy as np

In [610]:
df = pd.read_csv('../data/_data.csv')

In [611]:
df.head(10)
df.shape

(23368, 25)

In [612]:
df = df.drop(['Парковка'], axis=1) # Убераем парковку

In [613]:
df = df.drop(['Телефоны'], axis=1) # Убераем телефоны

In [615]:
df = df.drop(['Площадь комнат, м2'], axis=1) # Убераем площади комнат

In [617]:
temp1=df['Цена']
rent_price_curr = temp1.apply(lambda x:x.split('/')[0].split())
rent_price = rent_price_curr.apply(lambda x:x[0])
# Цена аренды

In [620]:
currency = rent_price_curr.apply(lambda x:x[1]) # Валюта аренды

In [621]:
s3=temp1.apply(lambda x:x.split('Срок аренды - '))
stay_time=s3.apply(lambda x:x[1].split(',')[0]) # Виды сроков

In [623]:
deposite = temp1.apply(lambda x:x.split('Залог - '))
test1 = deposite.apply(lambda x:len(x))
bool_series1 = test1==2

deposite[bool_series1] = deposite[bool_series1].apply(lambda x:x[1].split(',')[0].split(' '))
deposite[~bool_series1] = '00'

deposite_value = deposite.apply(lambda x:x[0]) # Все залоги, если нету = то 0 строкой
deposite_currency = deposite.apply(lambda x:x[1]) # Все валюты, если нету = то 0 строкой

In [624]:
pre_pay = temp1.apply(lambda x:x.split('Предоплата ')[-1])

pre_pay_months = pre_pay.apply(lambda x:x.split(' ')[0]) 

pre_pay_bool = pre_pay.apply(lambda x:x.split(' ')[-1])
pre_pay_bool[(pre_pay_bool=='Длительный')|(pre_pay_bool=='месяцев')]='нету'
# Предоплата либо "мес", либо нету - заменил на "нету".

pre_pay_months = pre_pay_months.astype(float)
pre_pay_months[pre_pay_months>12]=0
# Количество месяцев

In [626]:
temp2=df['Ремонт']
temp2.value_counts(dropna=False)

Ремонт
Косметический    8499
Евроремонт       8470
Дизайнерский     3474
NaN              2755
Без ремонта       170
Name: count, dtype: int64

In [627]:
temp4=df['Балкон']
temp4.value_counts(dropna=False)

Балкон
NaN                       7978
Балкон (1)                7428
Лоджия (1)                6007
Балкон (1), Лоджия (1)     716
Лоджия (2)                 568
Балкон (2)                 474
Балкон (3)                  55
Лоджия (3)                  45
Балкон (2), Лоджия (2)      25
Балкон (1), Лоджия (2)      24
Балкон (2), Лоджия (1)      20
Балкон (4)                   6
Балкон (1), Лоджия (3)       5
Лоджия (4)                   5
Балкон (3), Лоджия (1)       5
Балкон (2), Лоджия (3)       3
Балкон (1), Лоджия (4)       2
Балкон (3), Лоджия (3)       1
Балкон (4), Лоджия (4)       1
Name: count, dtype: int64

In [628]:
df = df.drop(['Цена'], axis=1) # Убераем цену

In [629]:
df.insert(9,'rent_price',rent_price)
df.insert(10,'rent_currency',currency)
df.insert(11,'stay_time',stay_time)
df.insert(12,'deposite',deposite_value)
df.insert(13,'deposite_currency',deposite_currency)
df.insert(14,'is_prepay',pre_pay_bool)
df.insert(15,'prepay_months',pre_pay_months)

In [631]:
df = df.drop(['Описание'], axis=1) # Убераем описание

In [632]:
# df готов = Разобрали Цену, убрали Описание,Парковку, Площадь комнат И Телефон
df.shape

(23368, 27)